# Критерий знаков

In [1]:
import pandas as pd
from statsmodels.stats.descriptivestats import sign_test

### Считываем данные

In [2]:
data = pd.read_csv('data_big.csv')
data.head()

,Unnamed: 0,X.1,depressed.mood.1,anxiety.1,suspiciousness.1,irritability.1,craving.to.alcohol.1,weakness.1,insomia.1,headache.1,...,combined2.9,HR.9,SBP.9,DBP.9,MBP.9,SV.9,CO.9,SI.9,CI.9,TPR.9
0,1,1,1,1,0,1,1,1,1,0,...,0,68.0,108.0,70.0,83.0,74.0,5.0,40.0,2.7,1321.0
1,2,2,1,1,0,0,1,1,2,1,...,9,63.0,114.0,70.0,85.0,123.0,7.7,60.0,3.8,879.0
2,3,3,1,1,0,0,0,2,1,0,...,0,64.0,120.0,80.0,93.0,106.0,6.8,55.0,3.5,1098.0
3,4,4,2,2,0,0,0,2,0,0,...,0,56.0,124.0,90.0,101.0,90.0,5.1,43.0,2.4,1600.0
4,5,5,1,1,0,0,2,2,1,0,...,0,66.0,116.0,78.0,90.0,90.0,5.9,45.0,2.2,1228.0

### Создаём нужный датафрейм

In [3]:
df = pd.DataFrame()
df['anxiety.1'] = data['anxiety.1']
df['anxiety.2'] = data['anxiety.2']
df['result'] = data['anxiety.2'] - data['anxiety.1']
df

    anxiety.1  anxiety.2  result
0           1          0      -1
1           1          1       0
2           1          1       0
3           2          0      -2
4           1          1       0
5           1          1       0
6           1          0      -1
7           1          0      -1
8           1          1       0
9           1          1       0
10          1          0      -1
11          1          1       0
12          1          1       0
13          1          0      -1
14          1          1       0
15          1          1       0
16          1          0      -1
17          1          1       0
18          1          1       0
19          1          0      -1
20          1          0      -1
21          1          0      -1
22          1          0      -1
23          1          0      -1
24          0          0       0
25          0          1       1
26          2          1      -1
27          0          1       1
28          0          0       0
29          2          1      -1
30          1          0      -1
31          0          0       0
32          1          1       0
33          2          0      -2

### Гипотезы

Нужно проверить значимость изменений в первые два дня ААС  
H_0: низкая значимость изменений в первые два дня ААС  
H_1: высокая значимость изменений в первые два дня ААС  
Пусть уровень значимости alpha = 0.005

In [4]:
print("p-value =", sign_test(df['result'])[1])

p-value = 0.0013122558593750002

p-value < alpha, тогда нулевая гипотеза отвергается  
В таком случае, мы отвергает тот факт, что в первые два дня была низкая значимость